<template name="childbadges">
    <div class="container dashboard-container">
        <div class="main-inner">
            <!-- aside starts -->
            {{ >childmenu }}
            <!-- aside ends -->
            <!-- dashboard right content section starts -->
            <section class="right-section-dash mCustomScrollbar" data-mcs-theme="minimal">           
				<div class="row table-out-dash">
                    <div class="box-dash">
						<div class="tabs gamification-outer">
    <ul class="tab-links">
        <li class="active"><a href="#tab-badges">Badges</a></li>
        <li><a href="#tab-levels"> Levels</a></li>
        <li><a href="#tab-certificates">Certificates</a></li>
    </ul>
 
    <div class="tab-content">
        <div id="tab-badges" class="tab active">
        	       <div class="row table-out-dash">
                    <div class="box-dash child-badge-list">
                       <ul class="badges-list">
							<li>
								<span class="orange-text"><i class="flaticon-ribbon"></i></span>
								<h2>Years of Service Certificate</h2>
								<p>Lorem Ipsum is simply dummy and typesetting industry.</p>
							</li>
							<li>
								<span class="blue1-text"><i class="flaticon-social-3"></i></span>
								<h2>Years of Service Certificate</h2>
								<p>Lorem Ipsum is simply dummy and typesetting industry.</p>
							</li>
							<li>
								<span class="dummy-text"><i class="flaticon-ribbon"></i></span>
								<h2>Years of Service Certificate</h2>
								<p>Lorem Ipsum is simply dummy and typesetting industry.</p>
							</li>
							<li>
								<span class="orange-text"><i class="flaticon-ribbon"></i></span>
								<h2>Years of Service Certificate</h2>
								<p>Lorem Ipsum is simply dummy and typesetting industry.</p>
							</li>
							<li>
								<span class="dummy-text"><i class="flaticon-ribbon"></i></span>
								<h2>Years of Service Certificate</h2>
								<p>Lorem Ipsum is simply dummy and typesetting industry.</p>
							</li>
							<li>
								<span class="dark-blue"><i class="flaticon-ribbon"></i></span>
								<h2>Years of Service Certificate</h2>
								<p>Lorem Ipsum is simply dummy and typesetting industry.</p>
							</li>
					   </ul>
                   </div>
                </div>
				
			   
				
		</div>
 
        <div id="tab-levels" class="tab">
              <div class="row table-out-dash">
                    <div class="box-dash child-badge-list">
                       <ul class="badges-list">
							<li>
								<span class="orange-text"><i class="flaticon-ribbon"></i></span>
								<h2>Years of Service Certificate</h2>
								<p>Lorem Ipsum is simply dummy and typesetting industry.</p>
							</li>
							<li>
								<span class="blue1-text"><i class="flaticon-social-3"></i></span>
								<h2>Years of Service Certificate</h2>
								<p>Lorem Ipsum is simply dummy and typesetting industry.</p>
							</li>
							<li>
								<span class="dummy-text"><i class="flaticon-ribbon"></i></span>
								<h2>Years of Service Certificate</h2>
								<p>Lorem Ipsum is simply dummy and typesetting industry.</p>
							</li>
							<li>
								<span class="orange-text"><i class="flaticon-ribbon"></i></span>
								<h2>Years of Service Certificate</h2>
								<p>Lorem Ipsum is simply dummy and typesetting industry.</p>
							</li>
							<li>
								<span class="dummy-text"><i class="flaticon-ribbon"></i></span>
								<h2>Years of Service Certificate</h2>
								<p>Lorem Ipsum is simply dummy and typesetting industry.</p>
							</li>
							<li>
								<span class="dark-blue"><i class="flaticon-ribbon"></i></span>
								<h2>Years of Service Certificate</h2>
								<p>Lorem Ipsum is simply dummy and typesetting industry.</p>
							</li>
					   </ul>
                   </div>
                </div>
				
			   
        </div>
 
        <div id="tab-certificates" class="tab">
            <div class="row table-out-dash">
                    <div class="box-dash child-badge-list">
                       <ul class="badges-list">
							<li>
								<span class="orange-text"><i class="flaticon-ribbon"></i></span>
								<h2>Number Bonds to 10</h2>
								<p>Lorem Ipsum is simply dummy and typesetting industry.</p>
							</li>
							<li>
								<span class="blue1-text"><i class="flaticon-social-3"></i></span>
								<h2>Number Bonds to 100</h2>
								<p>Lorem Ipsum is simply dummy and typesetting industry.</p>
							</li>
							<li>
								<span class="dummy-text"><i class="flaticon-ribbon"></i></span>
								<h2>Addition Of Single Digits</h2>
								<p>Lorem Ipsum is simply dummy and typesetting industry.</p>
							</li>
							<li>
								<span class="orange-text"><i class="flaticon-ribbon"></i></span>
								<h2>Years of Service Certificate</h2>
								<p>Lorem Ipsum is simply dummy and typesetting industry.</p>
							</li>
							<li>
								<span class="dummy-text"><i class="flaticon-ribbon"></i></span>
								<h2>Years of Service Certificate</h2>
								<p>Lorem Ipsum is simply dummy and typesetting industry.</p>
							</li>
							<li>
								<span class="dark-blue"><i class="flaticon-ribbon"></i></span>
								<h2>Years of Service Certificate</h2>
								<p>Lorem Ipsum is simply dummy and typesetting industry.</p>
							</li>
					   </ul>
                   </div>
                </div>
				
			   
        </div>
 
        </div>
</div>
						
					
					
					
                       
                    </div>
                </div>
         
			</section>
            <!-- dashboard right content section ends -->

            <!-- footer starts -->
            <footer class="admin-dash-footer">
                <div class="copy-right">
                    Copyright © 2016
                </div>
            </footer>
            <!-- footer ends -->
        </div>
    </div>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script src="js/jquery.mCustomScrollbar.concat.min.js"></script>
    <script src="js/amcharts.js"></script>
	   <script src="js/pie.js"></script>
    <script src="js/serial.js"></script>
    <script src="js/light.js"></script>
	<script src="https://www.amcharts.com/lib/3/themes/none.js"></script>
    <script src="js/custom.js"></script>
</template>