<template name="adminnotification">
    <div class="container dashboard-container">
        <div class="main-inner">
             <!-- aside starts -->
            <aside class="dashboard-aside">
                <div class="dashboard-logo">
                    <a href="index.html"><img src="images/dashboard-logo.png">
                    </a>
                </div>                          
                    <div class="menu-icon menu-icon2"><img src="images/menu-icon.png">
                    </div>
                <ul class="dashboard-nav dashboard-nav1">                  
                    <li>
						<a href="">
							<i class="flaticon-tool"></i><span>Dashboard</span>
						</a>
                    </li>
                    <li>
						<a href=""><i class="flaticon-symbol"></i><span>Ques. Bank</span></a>
							<ul class="dropdown">
								<li>
									<a href="">Create new question</a>
								</li>                                                
							</ul>	
                    </li>
					 <li>
						<a href="">
							<i class="flaticon-people-1"></i><span>Manage Members</span>
						</a>
                    </li>
                    <li>
						<a href="">
							<i class="flaticon-student"></i><span>Type of Tests</span>
						</a>
                    </li>
					<li>
						<a href="">
							<i class="flaticon-star"></i><span>Gamification</span>
						</a>
						<ul class="dropdown">
							<li>
								<a href="">Badges</a>
							</li>  
							<li>
								<a href="">Levels</a>
							</li>  
							<li>
								<a href="">Certificates</a>
							</li>  						   
                        </ul>	
                    </li>
                    <li>
						<a href=""><i class="flaticon-business-1"></i><span>Reports</span></a>
                    </li>
                    <li>
						<a href=""><i class="flaticon-people-4"></i><span>Management</span></a>
							<ul class="dropdown">
								<li><a href="">Admin</a></li>
								<li><a href="">Payment System</a></li>
								<li><a href="">Communications</a></li>
							</ul>
                    </li>
                    <li>
						<a href=""><i class="flaticon-people-5"></i><span>Profile</span></a>
                    </li>
					<li>
						<a href=""><i class="flaticon-symbol-1"></i><span>Logout</span></a>
                    </li>
                </ul>
            </aside>
            <!-- aside ends -->
            <!-- dashboard right content section starts -->
            <section class="right-section-dash mCustomScrollbar" data-mcs-theme="minimal">
				<div class="row">
					<div class="box-dash notification-outer">
						<h4>Notification</h4>
						<ul class="notific-list">
							<li class="green-notif">
								<i class="flaticon-music"></i>
								<p>You have 4 pending tasks.<span class="color-notification">Take action</span></p>
								<em>Just now </em>
							</li>
							<li class="red-notif">
								<i class="flaticon-social-2"></i>
								<p>Database server #12 overloaded. Please fix the issue. </p>
								<em>24 mins</em>
							</li>
							<li class="blue-notif">
								<i class="flaticon-social-2"></i>
								<p>Database server #12 overloaded. Please fix the issue.</p>
								<em>30 mins</em>
							</li>
							<li class="yellow-notif">
								<i class="flaticon-social-2"></i>
								<p>New member registered.<span class="color-notification">Pending approval</span></p>
								<em>1 hr</em>
							</li>
							<li class="green-notif">
								<i class="flaticon-music"></i>
								<p>You have 4 pending tasks.<span class="color-notification">Take action</span></p>
								<em>Just now </em>
							</li>
							<li class="red-notif">
								<i class="flaticon-social-2"></i>
								<p>Database server #12 overloaded. Please fix the issue. </p>
								<em>24 mins</em>
							</li>
							<li class="blue-notif">
								<i class="flaticon-social-2"></i>
								<p>Database server #12 overloaded. Please fix the issue.</p>
								<em>30 mins</em>
							</li>
							<li class="yellow-notif">
								<i class="flaticon-social-2"></i>
								<p>New member registered.<span class="color-notification">Pending approval</span></p>
								<em>1 hr</em>
							</li>
						</ul>
					</div>
				</div>
            </section>


            <!-- dashboard right content section ends -->

            <!-- footer starts -->
            <footer class="admin-dash-footer">

                <div class="copy-right">
                    Copyright © 2016
                </div>

            </footer>
            <!-- footer ends -->
        </div>
    </div>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script src="js/jquery.mCustomScrollbar.concat.min.js"></script>
    <script src="js/amcharts.js"></script>
    <script src="js/serial.js"></script>
    <script src="js/light.js"></script>
    <script src="js/custom.js"></script>
    <script>
    </script>
</template>