<template name="questionbank"> 	
		    <div class="container dashboard-container">
        <div class="main-inner">         
            <!-- dashboard right content section starts -->
            <section class="right-section-dash qust-outer mCustomScrollbar" data-mcs-theme="minimal">              
				<div class="row table-out-dash">
                    <div class="box-dash">
                        <h2 class="title-dash">
							Search Questions
						</h2>
                        <div class="table-responsive mCustomScrollbar">
							<form class="search-question-form">
								<div class="frm-out">
									<p>	
										<label>Year</label>
										<input type="text" name="year_group">
									</p>
									<p>	
										<label>Strand</label>
										<input type="text" name="strand">
									</p>
									<p>	
										<label>Skills</label>
										<input type="text" name="skill">
									</p>
								</div>
								<div class="frm-out">
									<p>	
										<label>Type of Test</label>
										<input type="text" name="type_of_test">
									</p>
									<p>	
										<label>Difficulty Level</label>
										<input type="text" name="difficulty_level">
									</p>
									<p>	
										<label>Question Review</label>
										<input type="text" name="questionReview">
									</p>								
								</div>
								<div class="frm-out">
									<p>	
										<label>Submitted by</label>
										<input type="text" name="submitted_by">
									</p>
									<p class="filtr-btn-out">
										<button type="submit" class="orange-btn">
											<i class="flaticon-tool-2"></i> Filter
										</button>
									</p>									
								</div>
								<div class="sav-btn-outr">
									<input type="Submit" value="Save" class="blue-btn">
									<a class="blue-btn" href="/createquestion">Create New Question</a>
									<a class="blue-btn" id="exportQuestion" href="#">Export</a>
								</div>							
							</form>                            
						</div>
                    </div>
                </div>
                <div class="row table-out-dash">
                    <div class="box-dash">
                        <h2 class="title-dash">
							Question Bank <a href="#" class="heading-right">Print <i class="flaticon-technology"></i></a>
						</h2>
                        <div class="table-responsive mCustomScrollbar" data-mcs-theme="minimal" data-mcs-axis="yx">
                            <table class="dash-table">
                                <thead>
                                    <tr>
                                        <th>Q.ID</th>
                                        <th>Question</th>
                                        <th>Type</th>
                                		{{{sortingColumns}}}
                                        <th colspan="5" class="text-center">Type of Test</th>
                                        <th>Difficulty</th>
										<th># Taken</th>
										<th>Last update</th>
										<th>Action</th>
                                    </tr>
                                </thead>
                                <tbody>

									<tr class="colspan-row">
										<td colspan="6"></td>
										{{{typeoftest}}}
										<td colspan="6"></td>          	
									</tr>
								{{ #each questions}} 
                             	<tr>	
                             		<td>{{  incrementquestion  @index }}</td>
                             		<td>{{#mathjax}} <p>$$ {{question}} $$</p> {{/mathjax}}</td>
                             		<td>{{answer_type }} </td>	
                             		<td>Year {{ year_group }}</td>
                             		<td> {{strand}} </td>
							        <td>{{skill}}</td>
							     	{{{questionTestType type_of_test}}}
							        <td>Easy ({{difficulty_level}})</td>
								    <td class="time-icon-table"><i class="flaticon-clock"></i> 30 min </td>
								   	<td>Feb 19, 2016</td>
									<td><a href="#" class="blue-text edit" id="{{_id}}"><i class="flaticon-tool-3 "></i></a><a href="#" class="red-text delete" id="{{_id}}"><i class="flaticon-close"></i></a></td>  	
							      </tr>                     	  	

                           		  {{/each}}  		

									
                                </tbody>
                            </table>													
                        </div>						
                    </div>
					<div class="back-btn-outr">
			
						<button class="blue-btn">Back</button>
						<button class="blue-btn">Done</button>
							<div class="pagination">
								<ul>
									{{{questionbankPages}}}
								</ul>
							</div>
					</div>
                </div>
			</section>

            <!-- dashboard right content section ends -->

            <!-- footer starts -->
            <footer class="admin-dash-footer">               
                <div class="copy-right">
                    Copyright © 2016
                </div>             
            </footer>
            <!-- footer ends -->
        </div>
    </div>

    <script src="js/jquery.mCustomScrollbar.concat.min.js"></script>
			<script src="js/amcharts.js"></script>
			<script src="js/serial.js"></script>
			<script src="js/light.js"></script>
			<script src="js/custom.js"></script>
	</template>
