<template name="testtype">
 <div class="container dashboard-container">
        <div class="main-inner">
            <!-- aside starts -->
           	{{ >adminmenu }}
            <!-- aside ends -->
            <!-- dashboard right content section starts -->
            <section class="right-section-dash mCustomScrollbar" data-mcs-theme="minimal">
					   <div class="row table-out-dash">
             
                    <div class="box-dash">
                        <h2 class="title-dash">Create New Type of Test</h2>
                        <div class="test-type-form">
							<form class="addTest">
								<p><label>Test Name</label><select name="testname" class="testname">
                                        <option value="10min">10min</option><option value="11+">11+</option><option value="FE">FE</option><option value="CQ">CQ</option><option value="None">None</option>
                                </select></p>
								<p><label>Questions Randomised</label><input type="radio" class="checkbtn-radiobtn" name="questionrand" value="y"><span>Yes</span><input type="radio" class="checkbtn-radiobtn" name="questionrand" value="n"><span>No</span></p>
								<p><label>Answer Randomised</label><input type="radio" class="checkbtn-radiobtn" name="answerrand" value="Y"><span>Yes</span><input type="radio" class="checkbtn-radiobtn" name="answerrand" value="n"><span>No</span></p>
								<p><label>Number of Questions</label><input type="text" placeholder="20" name="numofques"></p>
								<p><label>Time limit</label><input type="text" placeholder="timelimit" name="timelimit" > <span> in minutes</span>
								</p>
								<p id="difficulytLevels"><label>Difficulty Levels</label><input type="checkbox" class="checkbtn-radiobtn" name="difficultylevel[]" value="1"><span>Level 1</span><input type="checkbox" class="checkbtn-radiobtn" name="difficultylevel[]" value="2"><span>Level 2</span><input type="checkbox" class="checkbtn-radiobtn" name="difficultylevel[]" value="3"><span>Level 3</span></p>
								<p id="skills" style="display:none;"><label>Select Skills</label>{{{reteriveField "skill"}}}</p>
								
                                <div class="skil-table">
									
									<table class="skil-table-out">
										<tr>
											<th>Strand</th><th>Skill</th><th>Min Number to be added  to the Quiz</th>
										</tr>
										<tr>
											<td>abc</td><td>xyz</td><td>5</td>
										</tr>
										<tr>
											<td>abc</td><td>xyz</td><td>5</td>
										</tr>
									</table>
								</div>
							
								<p class="new-test-sub"><input type="submit" class="input-submit" value="Save"></p>
								</form>
						</div>
						</div>

                    </div>
               

			
				 <div class="row table-out-dash">
                    <div class="box-dash">
                        <h2 class="title-dash">Type of Test</h2>
                          <div class="table-responsive mCustomScrollbar" data-mcs-theme="minimal" data-mcs-axis="yx">
                            <table class="dash-table test-type-table">
                                <thead>
                                    <tr>
                                        <th>Test Type</th>
                                        <th>Action</th>
                                    </tr>
                                </thead>

                                <tbody>
                                   
                                {{#each questionListing}}   
                                    <tr>
                                        <td>{{testname}}</td>
                                        <td><a href="#"  id="{{_id}}" class="blue-text edit"><i class="flaticon-tool-3"></i></a><a href="#" class="red-text delete" id="{{_id}}"><i class="flaticon-close"></i></a></td>          
                                    </tr>
                                   {{/each}} 
									
                                   
                                </tbody>
                            </table>
                        </div>
                   
                    </div>
			
			   </div>
            </section>


            <!-- dashboard right content section ends -->

            <!-- footer starts -->
            <footer class="admin-dash-footer">

                <div class="copy-right">
                    Copyright © 2016 
                </div>

            </footer>

    <script src="/js/jquery.mCustomScrollbar.concat.min.js"></script>
    <script src="/js/amcharts.js"></script>
    <script src="/js/light.js"></script>
    <script src="/js/custom.js"></script>
            <!-- footer ends -->
        </div>
    </div>
    

</template>    