<template name="signup">
<div class="container login-container">
			<div class="main-inner">
				<!-- header starts -->
					<header>
						<div class="logo">
							<a href="index.html"><img src="images/logo.png" alt=""></a>
						</div>
					</header>
				<!-- header ends -->
			
				<!-- login starts -->
					<section class="login-outer">

							<div class="login-main signup-main">
						<h1>Sign Up for Free<a href="" class="close-form">X</a></h1>
							<div class="sign-outer1">
								<div class="sign-outer1-inner">
							<form class="login-form">
								<div class="sign-up-left">
									<img src="/images/sign-up-img.png" alt="">
									<ul>
										<li>A free parent login lets you:</li>
										<li>Create free student logins</li>
										<li>Link your child’s school login</li>
										<li>Get weekly updates</li>
										<li>Play mathematics games</li>
									</ul>
								</div>



							<div class="sign-up-right">
				
						
								
								
								<p><input type="text" name="fname" placeholder="First Name"></p>
							
								<p><input type="text" name="lname" placeholder="Last Name"></p>		
								
								<p>
								<input type="email" name="email" placeholder="Email"></p>

								<p><input type="password" name="password" id="password" placeholder="Password"></p>
								
								<p><input type="password" name="cpassword" placeholder="Confirm Password"></p>

								<p class="left-labels"><input type="checkbox" name="terms"> I accept K12's <a href="#">Terms of use</a>
								<label id="terms-error" class="error" for="terms" style="display:none;">Terms and conditions required</label>
																</p>
								
								<p class="error-msg"></p>	
								
								<p class="sign-in-btn"><input type="Submit" value="Sign up" class="input-submit"></p>
								<p class="sign-up-label-login"><label>Already registered? <a href="login">Login</a></label></p>
								</div>
								</form>
						</div></div></div>
					</section>
				
				<!-- login ends -->
				<!-- footer starts -->
					<footer>
						<ul class="footer-nav">	
							<li><a href="#">Terms</a></li>
							<li><a href="#">Privacy</a></li>
							<li><a href="#">Help</a></li>
						</ul>
						<div class="copy-right">
							Copyright © 2016
						</div>
						<ul class="footer-social">
							<li><a href="#"><i class="flaticon-icon-59439"></i></a></li>
							<li><a href="#"><i class="flaticon-social"></i></a></li>
							<li><a href="#"><i class="flaticon-icon-8800"></i></a></li>
						</ul>
					</footer>
				<!-- footer ends -->
				
			</div>
		</div>
	</template>	
