<template name="home">
		<div class="container">
			<div class="main-inner">
				<!-- header starts -->
					<header>
						<div class="logo">
							<a href=""><img src="/images/logo.png" alt=""></a>
						</div>
						<nav>
							<ul>
								<li><a href="signup" class="signup">Parent's Sign Up</a></li>
								<li><a href="login" class="login">Login</a></li>
							</ul>
						</nav>
					</header>
				<!-- header ends -->
				<div class="content-outer ">
					<div class="slider-outer ">
					<div id="owl-demo" class="owl-carousel">
						<div class="item"><img src="images/slider-img1.png"  alt="">
							<div class="slider-content">
							<div class="outer-1">
							<div class="outer-2">
								<div class="slider-user-img"><img src="/images/user-img.png"  alt=""></div>
								<div class="slider-user-detail"><p>My students love doing assignments on beGalileo.The immediate feedback & the visual lessons available to them have made a significant difference in their Maths learning.</p>
								<i>- Tim -</i>
								</div>
							</div>
							</div>							
							</div>
						</div>
						<div class="item"><img src="/images/slider-img2.png"  alt="">
								<div class="slider-content">
							<div class="outer-1">
							<div class="outer-2">
								<div class="slider-user-img"><img src="images/user-img.png"  alt=""></div>
								<div class="slider-user-detail"><p>My students love doing assignments on beGalileo.The immediate feedback & the visual lessons available to them have made a significant difference in their Maths learning.</p>
								<i>- Tim -</i>
								</div>
							</div>
							</div>
							</div>
						</div>
						<div class="item"><img src="/images/slider-img1.png"  alt="">
								<div class="slider-content">
							<div class="outer-1">
							<div class="outer-2">
								<div class="slider-user-img"><img src="/images/user-img.png"  alt=""></div>
								<div class="slider-user-detail"><p>My students love doing assignments on beGalileo.The immediate feedback & the visual lessons available to them have made a significant difference in their Maths learning.</p>
								<i>- Tim -</i>
								</div>
							</div>
							</div>	
							</div>
						</div>
					</div>
					</div>
					
					<!-- aside starts -->
					<aside class="home-aside">
						<ul>
							<li><a href=""><i class="flaticon-computer"></i><span>Questions Answered
</span></a></li>
							<li><a href=""><i class="flaticon-business"></i><span>How it works</span></a></li>
							<li><a href=""><i class="flaticon-people"></i><span>Parents</span></a></li>
						</ul>
					</aside>
				
				<!-- aside ends -->
					
				</div>
				
				<!-- content starts -->
					<section class="sign-uo-fre-outer">
						<h2>
							Master Maths. Get Results
						</h2>
						<form>
							<label>Not a Member Yet?</label>
							<a href="signup" class="input-submit">Parent's Sign Up for Free</a>
						</form>
					</section>
				<!-- content ends -->
				<!-- footer starts -->
					<footer>
						<ul class="footer-nav">	
							<li><a href="#">Terms</a></li>
							<li><a href="#">Privacy</a></li>
							<li><a href="#">Help</a></li>
						</ul>
						<div class="copy-right">
							Copyright © 2016
						</div>
						<ul class="footer-social">
							<li><a href="#"><i class="flaticon-icon-59439"></i></a></li>
							<li><a href="#"><i class="flaticon-social"></i></a></li>
							<li><a href="#"><i class="flaticon-icon-8800"></i></a></li>
						</ul>
					</footer>
				<!-- footer ends -->
				
			</div>
		</div>
			

	<script src="js/owl.carousel.js"></script>

    <script>
    $(document).ready(function() {

    setTimeout(function()
    {

      $("#owl-demo").owlCarousel({
      navigation : false,
      slideSpeed : 300,
      paginationSpeed : 400,
      singleItem : true,
	  loop: true,
	  autoplay : true,
	  
      });
    	
    	console.log("Working");

	},500);
    
    });
    </script>
	</template>