<template name="userrecords">
		<div class="container login-container">
			<div class="main-inner">
				<!-- header starts -->
					<header>
						<div class="logo">
							<a href="index.html"><img src="images/logo.png" alt=""></a>
						</div>
					</header>
				<!-- header ends -->
			
				<!-- login starts -->
					<section class="login-outer">
						
							Here are the user records
							{{>pages}}
				
   	 {{> pagesNav}}
					</section>			
				<!-- login ends -->
				<!-- footer starts -->
					<footer>
						<ul class="footer-nav">	
							<li><a href="#">Terms</a></li>
							<li><a href="#">Privacy</a></li>
							<li><a href="#">Help</a></li>
						</ul>
						<div class="copy-right">
							Copyright © 2016
						</div>
						<ul class="footer-social">
							<li><a href="#"><i class="flaticon-icon-59439"></i></a></li>
							<li><a href="#"><i class="flaticon-social"></i></a></li>
							<li><a href="#"><i class="flaticon-icon-8800"></i></a></li>
						</ul>
					</footer>
				<!-- footer ends -->			
			</div>
		</div>  
	</template>